{% extends 'base.html' %}

{% block title %} Confirmaçao {% endblock %}

{% block main %}
     <h1>Tem Certeza Que Deseja Deletar o Registro {{ cadastro.Produto}}</h1>
    <form  method="POST">
      {% csrf_token %}
      {{ form }}
    <button type="submit" class="btn btn-danger">Delete</button>
    </form>



{% endblock %}












    <h1>Tem Certeza Que Deseja Deletar o Registro {{ cadastro.Produto}}</h1>
    <form  method="POST">
      {% csrf_token %}
      {{ form }}
    <button type="submit">Delete</button>
    </form>
