



{% extends 'base.html' %}

{% block title %} Controle de Validades {% endblock %}

{% block main %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
                <h3>Lista de Registro</h3>
                 <ul class="list-group">
                    {% for item in registro %}
                        <li class="list-group-item">
                            <a href="{% url 'atualizar'  item.id %}">{{ item.Produto}}</a>
                            <a href="{% url 'apagar'  item.id %}"class="btn btn-outline-danger" >Excluir</a>
                        </li>


                    {% endfor %}
                 </ul>

                    <br>
                    <a href="{% url 'novo' %}" class="btn btn-primary">Adicionar Registro</a>


        </div>
        <div class="col">
            <a href="{% url 'melogout'%}" class="btn btn-warning">Sair</a>
        </div>

    </div>







{% endblock %}


















